<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL -->
<mapper namespace="global.sesoc.test10.dao.DreamListMapper">

	<insert id="insertDreamList" parameterType="DreamList">
		insert into DreamList(dreamnum, userid, dreamname, type, memo
		<if test="favorite != null">
			, favorite 
		</if>
		<if test="usedate != null">
			, usedate, startdate, enddate 
		</if>
		)
		values(dreamlist_seq.nextval, #{userid}, #{dreamname},#{type},#{memo}
			<if test="favorite != null">
			, #{favorite} 
		</if>
			<if test="usedate != null">
			,#{usedate},#{startdate},#{enddate}
			</if>
		)
	</insert>
	
	<update id="updateDreamList" parameterType="DreamList">
		update DreamList set 
			dreamname =#{dreamname}, type=#{type}, memo=#{memo}
		<if test="usedate != null">
			, usedate=#{usedate}, startdate=#{startdate}, enddate=#{enddate}
		</if>
		where dreamnum = #{dreamnum}
	</update>
	
	<update id="favorite" parameterType="DreamList">
		update DreamList set 
			favorite = #{favorite}
		where dreamnum = #{dreamnum}
	</update>
	
	<update id="complete" parameterType="DreamList">
		update DreamList set 
			completed = #{completed},
			compdate = sysdate
		where dreamnum = #{dreamnum}
	</update>
	
	
	
  <select id="selectbyUser" resultType="DreamList" parameterType="DreamList">
  	select dreamnum, userid, dreamname, type, memo, usedate, 
  	To_char(startdate, 'yyyy/MM/dd') startdate,To_char(enddate, 'yyyy/MM/dd') enddate,
  	completed, To_char(compdate, 'yyyy/MM/dd') compdate, favorite
  	 from DreamList 
  		where userid = #{userid}
		and usedate =#{usedate}
		<if test="type != null">
		and type = #{type}
		and completed ='no'
		</if>
		<if test="completed != null and completed != ''">
		and completed ='yes'
		</if>
		<if test="favorite != null and favorite != ''">
		and favorite ='yes'
		and completed = 'no'
		</if>
  </select>
  
  <delete id="deleteDreamList" parameterType="DreamList">
  	delete DreamList where dreamnum = #{dreamnum}
  </delete>
  
  <select id="datecalculation" parameterType="DreamList" resultType="DreamList">
  select dreamname, 
  (sum(trunc(compdate)-startdate)/count(dreamname)) compdate, 
  count(dreamname) favorite 
  from dreamlist 
  where dreamname =#{dreamname} 
  and 
  completed='yes' 
  group by dreamname
  </select>
  
  <select id="selectComNoCom" parameterType="DreamList" resultType="DreamList">
  		select type, count(dreamname) favorite, completed from dreamlist where userid=#{userid} group by completed, type
  </select>
  
  <select id="BestThree" parameterType="DreamList" resultType="DreamList">
  	select * from 
  		(select count(dreamname) count, dreamname 
  		from dreamlist 
  		<if test="type != null">
  			where type =#{type} 
		</if>
  		group by dreamname 
  		order by count(dreamname) desc) 
  	where rownum &lt;= 3
  </select>
  
  
  <select id="categorizedByType" resultType="DreamList">
select  type, count(distinct userid) count from noteuser group by type order by type
  </select>
  
  <select id="completedEachMonth" parameterType="DreamList" resultType="DreamList">
  	select SUBSTR(type, 1, 1) type, EXTRACT(month from compdate) compdate, count(completed) count
from dreamlist
where to_char(compdate,'YYYY') = to_char(sysdate,'YYYY') and userid=#{userid} and completed='yes'
group by EXTRACT(month from compdate), type
  	
  </select>
  
	
</mapper>
    