<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL -->
<mapper namespace="global.sesoc.test10.dao.NoteUserMapper">

	<select id="selectOne" resultType="NoteUser" parameterType="NoteUser">
	Select * from NoteUser
	where
		userid = #{userid}
	<if test="userpwd != null">
	and
		userpwd = #{userpwd}
	</if>	
	</select>
	
	<update id="updateNoteUser" parameterType="NoteUser">
	update NoteUser set username = #{username}, type = #{type} where userid = #{userid}
	</update>
	
	<insert id="insertNoteUser" parameterType="NoteUser">
	insert into NoteUser values(#{userid}, #{userpwd}, #{username},#{type})
	</insert>
	
</mapper>
    